<!doctype html>
<html ng-app="attirebot">
	<head>
		<title>Attire Bot</title>
		
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/css/style.css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
		<script src="/js/routes.js"></script>
		<script src="/js/main.js"></script>
		<script src="http://lokeshdhakar.com/projects/color-thief/js/libs/quantize.js"></script>
		<script src="http://lokeshdhakar.com/projects/color-thief/js/color-thief.js"></script>
		<script src="/js/dominantColor.js"></script>

	</head>
	<body>
		<ng-view></ng-view>
	</body>
</html>